.footer {
    background-color: #2f303a;
}

.foot-div {
    display: flex;
    align-items: baseline;
}

.second-part-logo {
    color: $wightColor;
}

.logo.foo {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
}

.section.foot {
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h2>a {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 60px;
}