/* raleway-300 - latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/raleway-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v17-latin-300.woff') format('woff'), /* Modern Browsers */
}


/* raleway-regular - latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/raleway-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    /* Legacy iOS */
}


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    /* Legacy iOS */
}


/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
}


/* roboto-900 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
}